.qmake.cache
.sconsign.dblite
.sconf_temp
*.o
*.os
*.so
*.d
obj
build
Makefile
bin
html
latex
lib
*.hh~
*.h~
*.C~
*.cc~
*.cxx~
*.py~
*.pl~
*.txt~
*.pro~
*.pri~
*.doxy~
*.cfg~
*.xcodeproj
*.pro.user*
*.pyc
*.qtlist
*.list
*.root
*.acqt
*.exe
*.pptx
.*~
moc_*
*#*
.DS_Store
!testing/*.qtlist
!testing/*.list
!testing/*.root
!testing/*.acqt
*.log
*.pdf
*.eps
core*
